body {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    line-height: 1.66;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1 > a {
    color: inherit !important;
    text-decoration: none;
}

h1 > a > img {
    position: relative;
    top: 2px;
    margin-right: 0.2rem;
}

h1 + ul {
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 0;
    border-bottom: 1px solid #ddd;
}

h1 + ul > li {
    position: relative;
    top: 1px;
    display: inline-block;
    border-bottom: 1px solid transparent;
}

h1 + ul > li:not(:last-child) {
    margin-right: 1rem;
}

.active-navigation-item {
    border-bottom: 1px solid #333;
}

h1 + ul > li:hover:not(.active-navigation-item) {
    border-bottom: 1px solid #a7a7a7;
}

h1 + ul > li > a {
    display: block;
    text-decoration: none;
    color: inherit !important;
}

a:link {
    color: #036;
}

a:visited {
    color: #7a3434;
}

.external-link {
    white-space: nowrap;
}

.external-link > a {
    white-space: normal;
}

strong {
    font-weight: 600;
}

h2 {
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.33;
    font-size: 28px;
    font-weight: 300;
} 

.date {
    margin: 0;
    font-size: 19px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
}

.date:not(:first-child) {
    margin-top: 25px;
}

h3 {
    margin: 0;
    line-height: 1.33;
    font-size: 22px;
    font-weight: 300;
}

.date + h3 {
    margin-top: 10px;
}

h3 > a {
    text-decoration: none;
    color: inherit !important;
}

p {
    max-width: 950px;
}

h3 + p {
    margin-top: 6px;
}

li {
    list-style-type: circle;
}

dt {
    font-weight: 600;
}

dt:not(:first-child) {
    margin-top: 1rem;
}

dd {
    margin: 0;
}

.required-field-indicator {
    color: #aaa;
}

input[type=text], input[type=email] {
    width: 18rem;
    padding: 0.2rem;
}

button {
    margin-top: 1rem;
}

.message {
    text-align: center;
}

body > p:last-of-type {
    margin-top: 2rem;
    text-align: center;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body > p:last-of-type > a {
    color: inherit !important;
}
